<% if service_record.account %>
   <div>
    <% if policy(Account.new).destroy? %>
   	<%= link_to "Delete Service Record", [@account, service_record], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this service record?' } %>
    <% end %>
   	 <h5> Store: <%= service_record.store %></h5>
      <p><h5>Service Record Date:</h5> <%= service_record.date %></p>
      <p><h5>Manager:</h5> <%= service_record.manager %></p>
      <p><h5>Subcontractor:</h5> <%= service_record.subcontractor %></p>
      <p><h5>Service Type:</h5> <%= service_record.service_type %></p>
      <p><h5>Record Text:</h5> <%= service_record.body %></p>
      <p><h5> Report in?</h5> <% service_record.report_in ? "yes" : "no" %> </p>
     <small>
       <em><%= service_record.account.name || service_record.account.email %> </em>
     </small>
   <% end %>
   <hr/>
 </div>