<h1>All Service Records</h1>
 <% @service_records.each do |service_record| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
	        <%= link_to service_record.store_name, service_record %> 
	        <%= service_record.date %>
	        <%= service_record.service_type %>
	        <%= service_record.subcontractor %>

         
       </h4>
     </div>
   </div>
   <% end %>
   <%= will_paginate @service_records %>
