<h2> Store: <%= @service_record.store_name %></h2>
<p><%= @service_record.body %></p>

<p><h5>Service Record Date:</h5> <%= @service_record.date %></p>
<p><h5>Manager:</h5> <%= @service_record.manager %></p>
<p><h5>Subcontractor:</h5> <%= @service_record.subcontractor %></p>
<p><h5>Service Type:</h5> <%= @service_record.service_type %></p>
<p><h5>Record Text:</h5> <%= @service_record.body %></p>
<p><h5> Report in?</h5> <% @service_record.report_in ? "true" : "false" %> </p>