<h2> Name: <%= @employee.name %></h2><

      <p><h5>Employee Number:</h5> <%= @employee.employee_number %></p>
      <p><h5>Email Address:</h5> <%= @employee.email_address %></p>
      <p><h5>Division:</h5> <%= @employee.division %></p>
      <p><h5>Phone Number:</h5> <%= @employee.phone_number %></p>
      <p><h5>SSN:</h5> <%= @employee.ssn %></p>
      <p><h5> License Number:</h5> <% @employee.license_number%> </p>