<% if store.account %>
   <div>
    <% if policy(Account.new).destroy? %>
   	<%= link_to "Delete Store", [@account, store], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this store?' } %>
    <% end %>
   	 <h5> Store Name: <%= store.name %></h5>
      <p><h5>Store Code:</h5> <%= store.code %></p>
      <p><h5>Manager:</h5> <%= store.manager %></p>
      <p><h5>Phone:</h5> <%= store.phone %></p>
      <p><h5>Region</h5> <%= store.region %></p>
      <p><h5>District:</h5> <%= store.district %></p>
      <p><h5>Chain:</h5> <%= store.chain %></p>
     <small>
       <em><%= store.account.name || store.account.email %> </em>
     </small>
   <% end %>
   <hr/>
 </div>