<h1>All Stores</h1>

<br>

<%= form_tag(stores_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search Stores" %>
    <br>
    <%= submit_tag "Search", :name => nil, class: 'btn btn-success' %>
<% end %>

<% if @stores.blank? %>
  <h4>There are no stores containing the term <%= params[:search] %>.</h4>
<% end %>

<br>

 <% @stores.each do |store| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to store.name, store %>
       </h4>
     </div>
   </div>
   <% end %>
   <%= will_paginate @stores %>