<h2> Store: <%= @store.name %></h2>


<%= link_to "Edit", edit_store_path(@store), class: 'btn btn-success' %>

<p><h5>Store Code:</h5> <%= @store.code %></p>
<p><h5>Store Phone:</h5> <%= @store.phone_number%></p>
<p><h5>Store Manager:</h5> <%= @store.manager %></p>
<p><h5>Region:</h5> <%= @store.region %></p>
<p><h5>District:</h5> <%= @store.district %></p>
<p><h5>Chain:</h5> <%= @store.chain %></p>
