<h2> Store: <%= @store.name %></h2>


<p><h5>Store Code:</h5> <%= @store.code %></p>
<p><h5>Store Phone:</h5> <%= @store.phone_number%></p>
<p><h5>Store Manager:</h5> <%= @store.manager %></p>
<p><h5>Region:</h5> <%= @store.region %></p>
<p><h5>District:</h5> <%= @store.district %></p>
<p><h5>Chain:</h5> <%= @store.chain %></p>
<p><h5>Frequency:</h5> <%= @store.frequency %></p>
<p><h5>Service Price - Contractor:</h5> <%= @store.sp_sub %></p>
<p><h5>Service Price - Corporate:</h5> <%= @store.sp_corp %></p>
<p><h5>Square Footage & Floor Type:</h5> <%= @store.square_footage %></p>



  <div class="row">
   <h2>Service Records</h2>
   
   	 <%= render @service_records %>
     <%= will_paginate @service_records %>
     <%= render 'service_records/form', service_record: @service_record, store: @store %>

    </div>
    <hr>
 </div>

