
<h2> Account Name: <%= @account.name %></h2>

<%= link_to "Edit", edit_account_path(@account), class: 'btn btn-success' %>

<p><h5>Account Number:</h5> <%= @account.account_number %></p>
<p><h5>Address 1:</h5> <%= @account.address_1 %></p>
<p><h5>Address 2:</h5> <%= @account.address_2 %></p>
<p><h5>City:</h5> <%= @account.city %></p>
<p><h5>Phone Number:</h5> <%= @account.phone_number %></p>
<p><h5>Fax Number:</h5> <%= @account.fax_number %></p>
<p><h5>Website Address:</h5> <%= @account.website %></p>
<p><h5>Account Primary Contact:</h5> <%= @account.contact_1 %></p>
<p><h5>Phone:</h5> <%= @account.contact_1_phone %></p>
<p><h5>Title:</h5> <%= @account.contact_1_title %></p>
<p><h5>Email Address:</h5> <%= @account.contact_1_email %></p>
<p><h5>Account Contact:</h5> <%= @account.contact_2 %></p> 
<p><h5>Phone:</h5> <%= @account.contact_2_phone %></p>
<p><h5>Title:</h5> <%= @account.contact_2_title %></p>
<p><h5>Email:</h5> <%= @account.contact_2_email %></p>
<p><h5>Account Contact:</h5> <%= @account.contact_3 %></p>
<p><h5>Phone:</h5> <%= @account.contact_3_phone %></p>
<p><h5>Title:</h5> <%= @account.contact_3_title %></p>
<p><h5>Email:</h5> <%= @account.contact_3_email %></p>
<p><h5>Accounts Payable Address 1:</h5><%= @account.accounts_payable_address_1 %></p>
<p><h5>Accounts Payable Address 2:</h5><%= @account.accounts_payable_address_2 %></p>
<p><h5>Accounts Payable City:</h5> <%= @account.accounts_payable_city %></p>
<p><h5>Attn:</h5> <%= @account.accounts_payable_attn %></p>
<p><h5>Accounts Payable Primary Contact:</h5> <%= @account.accounts_payable_contact_1 %></p>
<p><h5>Phone:</h5> <%= @account.accounts_payable_contact_1_phone %></p>
<p><h5>Fax:</h5> <%= @account.accounts_payable_contact_1_fax %></p>
<p><h5>Email:</h5> <%= @account.accounts_payable_contact_1_email %></p>
<p><h5>Contact:</h5> <%= @account.accounts_payable_contact_2 %></p>
<p><h5>Phone:</h5> <%= @account.accounts_payable_contact_2_phone %></p>
<p><h5>Email:</h5> <%= @account.accounts_payable_contact_email %></p>
<h3> Services</h3>
<p><h5>Basic?</h5> <%= @account.contracted_services_basic %></p>
<p><h5>Strip?</h5> <%= @account.contracted_services_strip %></p>
<p> <h5>Backstrip?</h5> <%= @account.contracted_services_backstrip %></p>
<p><h5>Extraction?</h5> <%= @account.contracted_services_extraction %></p>
<p><h5>Scrub?</h5> <%= @account.contracted_services_scrub %></p>
<p><h5>Buff?</h5> <%= @account.contracted_services_buff %></p>
<p><h5>Windows?</h5> <%= @account.contracted_services_windows %></p>
<p><h5>Grand Opening?</h5> <%= @account.contracted_services_grandopening %></p>
<p><h5>Half Strip?</h5> <%= @account.contracted_services_halfstrip %></p>


 </br>
 
 <div class="row">
   <h2>Comments</h2>
   <div class='col-md-12'>
     <%= render @service_comments %>
     <%= render 'service_comments/form', service_comment: @service_comment, account: @account %>
   </div>
 </div>